@import "compass"
@import "core/utilities"
@import "config"
@import "solarized"
@import "components/normalize"
@import "core/typo"
@import "modules/syntax"
@import "modules/post-navigation"

%clearfix
	&:before,
	&:after
		content: " "
		display: table

html
	-webkit-font-smoothing: antialiased
	
body
	text-rendering: optimizeLegibility
	font: 400 16px/20px "Roboto Slab", serif
	color: $gray
	
	> .to-top
		width: 60px
		height: 60px
		text-indent: -9999px
		background-image: url('/images/logoSymbolBlack.png')
		position: fixed
		top:  -60px
		left: 10px
		z-index:  5
		opacity: 0
		+transition(opacity .5s)
		
		&.visible
			opacity: 1
			top: 10px
			
			+bp(slick-rick)
				opacity: 0
		+bp(retina)
			background: url('/images/logoSymbolBlack@2x.png') no-repeat
			background-size: 150px 38px
		
	> footer
		padding: 40px 0
		text-align:  center
		border-top: 1px solid #ccc
		
		span, a
			margin: 0 8px
			
			+bp(masta-killa)
				display: block
				text-align: right
				margin: 0
		> span
			+bp(masta-killa)
				border-bottom: 1px solid #ccc
				padding-bottom: 20px
				margin-top: 20px
				position: relative
			
			&:before
				+bp(masta-killa)
					content: "Telefon"
					position: absolute
					left: 0
					top: 0
					color: #666
					
			&:first-child
				&:before
					+bp(masta-killa)
						content: "Adress"
		> a
			+bp(masta-killa)
				margin-top: 20px
				position: relative
				
				&:before
					content: "E-post"
					position: absolute
					left: 0
					top: 0
					color: #666
				
		+bp(masta-killa)
			margin: 0px 20px 40px
			padding: 0
	
	> header
		height: 80px
		background:  $black
		position: relative
		z-index: 2
		
		&.small
			position: fixed
			top: 0
			left: -20px
			right: -20px
			height: 40px
			background: white
			z-index: 1
			box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2)
			
			> h1
				width: 60px
				height: 60px
				margin-top:  -30px
				background-image: url('/images/logoSymbolBlack.png')
			
			> nav > a
				font-size: 14px
				line-height: 40px
				color: $black
		
		> h1
			width: 38px
			height: 38px
			background: url('/images/logo.png') no-repeat
			margin: 0
			text-indent: -9999px
			position: absolute
			top: 50%
			left: 40px
			margin-top: -19px
			
			+bp(retina)
				background: url('/images/logox2.png') no-repeat
				background-size: 150px 38px
			
			+bp(slick-rick)
				&.index
					display: none
			
			> a
				display: block
				width: 100%
				height: 100%
			
		> nav
			text-align: center
			
			> a
				line-height: 80px
				padding: 0 15px
				color: white
				text-decoration: none
				font-size: 20px
				font-family: $brandFontStack
				
				&.labs
					width: 200px
					height: 123px
					position: absolute
					top: 0
					right: 0
					text-indent: -9999px
					background: url('/images/labs.png') no-repeat
					padding: 0
				
	> section
		padding: 100px 0
		
		+bp(slick-rick)
			padding: 50px 0
		
		&.about
			background: $blue
			color: white
				
			> .wrapper
				max-width: 750px
				margin: 0 auto
				padding: 0 20px
				
				> img
					display: block
					margin: 0 auto 50px
				
				> .hisspitch
					font: 300 36px/1.1 $brandFontStack
					
					+bp(masta-killa)
						font-size: 24px
					
					strong
						font-weight: 500
				
				> .contact
					font-size: 18px
					text-align: center
					margin-top: 50px
					line-height: 1.5
						
					a
						color: white
						padding-bottom: 2px
						border-bottom: 2px solid white
						margin: 0 8px
						
					span
						margin: 0 8px
					
					
					+bp(masta-killa)
						a
							display: inline-block
						> span
							display: block
							
							> span:first-child
								display: block
					
		&.what-we-do
			a
				color: $gray
				
			.link
				color: $blue
		
			> .featured
				border-bottom: 1px solid #f5f5f5
				overflow: hidden
				
				.wrapper
					overflow: hidden
					position: relative
					min-height: 322px
				
				.img
					position: absolute
					bottom: 0
					left: 0
					width: 62%
					padding-right: 40px
					+box-sizing(border-box)
					
					+bp(ol-dirty-bastard)
						position: static
						width: 100%
						padding: 0
						text-align: center
					
					> img
						display: block
						margin: 0 auto
						
				.content
					padding-top: 40px
					float: right
					width: 38%
					
					+bp(ol-dirty-bastard)
						float: none
						width: 100%
						margin-bottom: 20px
				
				+bp(ol-dirty-bastard)
					margin: 0 20px
			.category
				color: #666
				font-family: $brandFontStack
				display: block
				
			.projects
				@extend %clearfix
				margin-left: -30px
				margin-top: 40px
				overflow: hidden
				
				+bp(masta-killa)
					margin-top: 0
					margin-left: 0
					
				> article
					width: 33.333%
					padding-left: 30px
					+box-sizing(border-box)
					float: left
					
					+bp(ol-dirty-bastard)
						width: 50%
						margin-bottom: 40px
						
					+bp(masta-killa)
						width: 100%
						padding-bottom: 20px
						margin: 40px 0 0
						padding-left: 20px
						border-bottom: 1px solid #f5f5f5
					
					.category
						padding-top: 20px
						margin-top: 0
						margin-bottom:  0
						
					img
						display: block
						margin-bottom: 0
						
		&.project-listing
			overflow: hidden
			
			a
				color: $gray
				
			.link
				color: $blue
				
			.category
				color: #666
				font-family: $brandFontStack
				display: block
			
			article
				width: 33.333%
				padding-left: 30px
				+box-sizing(border-box)
				float: left
				margin-top: 30px
				
				.category
					padding-top: 20px
					margin-top: 0
					margin-bottom:  0
					
				> img
					display: block
					margin-bottom: 0
			
		&.blog
			background: $orange
			color: white
			
			h1
				text-align: left
				width: 50%
				+box-sizing(border-box)
				padding-right: 20px
				color: white
				
				> span
					padding-bottom: 10px
					border-bottom: 5px solid white
					display: block
					
				+bp(ol-dirty-bastard)
					width: 100%
				
			h2
				color: white
				font-weight: 700
				
			.link
				color: white
				text-decoration: none
				padding-bottom: 2px
				border-bottom: 2px solid white
				
			.articles
				margin-left: -40px
				overflow: hidden
				word-spacing: -1px
				font-size: 0
				
				> article
					display: inline-block
					width: 50%
					padding-left: 40px
					+box-sizing(border-box)
					margin-top: 20px
					word-spacing: normal
					font-size: 16px
					vertical-align:  top
					
					+bp(ol-dirty-bastard)
						width: 100%
					
					> .inner
						padding-bottom: 20px
						border-bottom: 1px solid rgba(255, 255, 255, 0.4)
						
						> a
							color: white
				
						.link
							color: white
						
						time
							display: block
							font-size: 11px
							margin-top: -15px
							
			.fetch > a
				border: none
				background: white
				color: $orange !important
				padding: 10px 20px
							
		&.people
			.humans
				margin-left: -30px
				margin-top: -30px
				word-spacing: -1px
				font-size: 0
				
				> article
					display:  inline-block
					width: 16.666%
					font-size: 14px
					word-spacing:  normal
					padding-left: 30px
					margin-top: 30px
					vertical-align: top
					+box-sizing(border-box)
					text-align: center
					font-size: 12px
					
					+bp(gza)
						width: 25%
						
					+bp(ol-dirty-bastard)
						width: 33.333%
						
					+bp(masta-killa)
						width: 50%
					
					> img
						border-radius: 50%
						display: block
						margin: 0 auto 10px
						
					> strong
						display: block
						font-size: 15px
						font-family: $brandFontStack
						font-weight:  600
						
					> span
						display: block
			
		&.contact
			height: 380px
			position: relative
			
			+bp(masta-killa)
				display: none
			
			> a
				display: block
				width: 100%
				height: 100%
				background: url('/images/map.png') center center no-repeat
				background-size: cover
				position: absolute
				top: 0
				left: 0
				z-index: 1
			
			.wrapper
				height: 100%
			
			article
				position: absolute
				top: 50%
				left: 0
				padding: 20px
				background: white
				+box-sizing(border-box)
				width: 370px
				max-width: 100%
				height: 225px
				margin-top: -140px
				z-index: 2
				
				> section
					overflow: hidden
					padding-top: 20px
					margin-top: 20px
					border-top: 1px solid #ccc
					
					&:first-child
						padding-top: 0
						margin-top: 0
						border: none
					
					> .label
						float: left
						color: #666
						
					> .value
						float: right
						text-align: right
						
						> span
							display: block
							
		&.post
			max-width: 640px
			font-size: 18px
			line-height: 1.5
			
			+bp(slick-rick)
				padding-top: 50px
				font-size: 16px
				line-height: 1.2
			
			h2
				font-size: 28px
				+bp(q-tip)
					font-size: 24px
					line-height: 1.2
			
			h3, h4
				margin-bottom: -15px
			
			a
				max-width: 100%
				overflow: hidden
				display: inline-block
				text-overflow: ellipsis
				vertical-align: top
				
			.comments
				max-width: 600px
				margin-top: 80px
			
				h2
					text-align: center
					margin-bottom: 20px
					font-size: 24px
					
			&.listing
				h1
					margin-bottom: 60px
	
				> article
					margin-top: 40px
			
					> header > h2
						font-size: 32px
						margin-bottom: 15px
						text-align: center
		
			> article
				margin-bottom: 60px

				> header
					padding-bottom: 20px
					border-bottom: 2px solid #666
					margin-bottom: 40px
					
					> h1
						margin-bottom: 15px
					
					> p
						margin: 0
						text-align:  center
						
						> .tag
							color: $orange
					
					
				h2
					margin-top: 30px
					
					+ p
						margin-top: 0px
					+ ul
						margin-top: 0px
					
				h3
					margin-top: 30px
				
				p
					margin: 30px 0 0
					
				ul
					margin: 30px 0
					
		.comments
			max-width: 600px
			
			h2
				text-align: center
				margin-bottom: 20px
							
		&.post-extra
			background: $orange
			color: white
			
			h2
				color: white
				padding-bottom: 10px
				border-bottom: 2px solid white
				margin-bottom: 30px
			
			.splits
				margin-left: -40px
				@extend %clearfix
				
				> .split-half
					float: left
					padding-left:  40px
					width: 50%
					+box-sizing(border-box)
					
			.post
				padding-top: 20px
				margin-top: 20px
				border-top: 1px solid white
				
				&:first-child
					padding-top: 0
					margin-top: 0
					border-top: none
			
				a
					color: white
					display: block
					
			.link
				color: white
				text-decoration: none
				padding-bottom: 2px
				border-bottom: 2px solid white
			
.wrapper
	max-width:  960px
	margin: 0 auto
	@extend %clearfix
	position: relative
	padding-left: 20px
	padding-right: 20px
	
.fetch
	text-align: center
	margin-top: 40px
	
	> a
		border-radius: 3px
		background: $blue
		color: white !important
		padding: 10px 20px
		font-family: $brandFontStack
		font-weight: 700

.toggle-menu
	height: 32px
	width:  32px
	background-color:  #333
	display: none
	border-radius: 3px
	position: absolute
	right: 40px
	top: 50%
	margin-top: -16px
	padding: 10px 7px
	+box-sizing(border-box)
	
	+bp(slick-rick)
		display: block
		+ nav
			position: absolute
			top: 80px
			width: 100%
			background-color: #fff
			text-align: left
			height: 0px
			overflow: hidden
			+transition(height .3s)
			> a
				display: block
				color: #333
				line-height: 55px
				border-bottom: 1px solid #ddd
		> span
			width: 18px
			height: 2px
			background: white
			margin-bottom: 3px
			display: block
			+transition(opacity 0.3s, transform 0.3s)
		
		&.open
			+ nav
				height: 224px
				+transition(height .3s)
			> span
				&:first-child
					+transform(rotate(45deg) translate(4px, 4px))
					+ span
						opacity: 0
				&:last-child
					+transform(rotate(-45deg) translate(3px, -3px))
		&:before
			display: table
			content: "Meny"
			position: absolute
			top: 5px
			left: -53px
			color: #fff
			font-family: Roboto,"Helvetica Neue Light",Arial

table
	&.airy
		margin-top: 15px
		
		td
			padding-right: 20px
			text-align: center
			
			&:first-child
				text-align: left