<footer role="contentinfo">
	<span class="adr">
		<span class="street-address">Västerlånggatan 27</span>
		<span class="postal-code">111 29</span>
		<span class="locality">Stockholm</span>
		<a class="map-link" href="https://www.google.com/maps/place/Vinnovera+AB/@59.3252213,18.0692205,17z/data=!3m1!4b1!4m2!3m1!1s0x465f77e26eb236e1:0x314b77ee3a5d5ea1">(Karta)</a>
	</span>

	<span class="tel">08 - 5000 10 90</span>
	<a href="mailto:info@vinnovera.se" class="email">info@vinnovera.se</a>

	<span class="headline">Norrköpingskontoret</span>
	<span class="adr">
			
			<span class="street-address">Knäppingsborgsgatan 7</span>
			<span class="postal-code">602 26</span>
			<span class="locality">Norrköping</span>
			<a class="map-link" href="https://www.google.se/maps/place/Kn%C3%A4ppingsborgsgatan+7,+602+26+Norrk%C3%B6ping/@58.5901275,16.1877128,17z/data=!3m1!4b1!4m2!3m1!1s0x46593a4b44af1d89:0xa7c0a63b5d8ff589">(Karta)</a>
	</span>
</footer>