@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=9dd7aa3d-aa25-437c-9c4c-1923c8138802&fontids=692282")

h1, h2
	font: normal 50px/1em $brandFontStack
	color: black
	text-align: center
	margin-top: 0
	margin-bottom: 40px
	
	+bp(slick-rick)
		font-size: 42px
h2
	font-size: 31px
	line-height: 1em
	text-align:  left
	margin-bottom:  15px
	
	+bp(slick-rick)
		font-size: 26px
h3
	font-size: 24px
	margin-top: 0

	+bp(slick-rick)
		font-size: 20px
	
img
	max-width: 100%
	height: auto
	
a
	color: $blue
	text-decoration: underline
	color: red !important
	
	&:hover
		color: $hover
		
	
p
	margin: 20px 0 0