@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=9dd7aa3d-aa25-437c-9c4c-1923c8138802&fontids=692282")

h1, h2
	font: normal 42px/50px $brandFontStack
	color: black
	text-align: center
	margin-top: 0
	margin-bottom: 40px
	
h2
	font-size: 24px
	line-height: 1.2
	text-align:  left
	margin-bottom:  15px
	
h3
	margin-top: 0
	
img
	max-width: 100%
	height: auto
	
a
	color: $blue
	text-decoration: none