=mask-image($img, $repeat: no-repeat)
	+experimental(mask-image, image-url($img), -webkit, -moz, -o, -ms)
	+experimental(mask-repeat, $repeat, -webkit, -moz, -o, -ms)
	width: image-width($img)
	height: image-height($img)

=shadow-box($border: white 0.5em solid, $shadow: rgba(black, 0.15) 0 1px 4px, $border-radius: 0.3em)
	+border-radius($border-radius)
	+box-shadow($shadow)
	+box-sizing(border-box)
	border: $border

=selection($bg, $color: inherit, $text-shadow: none)
	*
	&::-moz-selection
		background: $bg
		color: $color
		text-shadow: $text-shadow
	&::-webkit-selection
		background: $bg
		color: $color
		text-shadow: $text-shadow
	&::selection
		background: $bg
		color: $color
		text-shadow: $text-shadow

@function text-color($color, $dark: dark, $light: light)
	$text-color: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000
	$text-color: if($text-color >= 150, $dark, $light)
	@return $text-color

=bp($point)
	@if $point == 'gza'
		@media (max-width: 1020px)
			@content
	
	@if $point == 'ol-dirty-bastard'
		@media (max-width: 768px)
			@content
	
	@if $point == 'masta-killa'
		@media (max-width: 580px)
			@content
	
	@if $point == 'slick-rick'
		@media (max-width: 560px)
			@content
	
	@if $point == 'q-tip'
		@media (max-width: 470px)
			@content

	@if $point == 'retina'
		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
			@content