---
layout: default
---

<section class="wrapper post">
	{% for post in site.posts reverse %}
	<article>
		<header>
			<h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
			
			{% capture category %}{{ post.categories | category_links | size }}{% endcapture %}
			{% unless category == '0' %}
			<p class="meta">
				Taggar: 
			  {% if post %}
			    {{ post.categories | category_links }}
			  {% else %}
			    {{ page.categories | category_links }}
			  {% endif %}
			</p>
			{% endunless %}
		</header>
	
		<div>
			{{ post.content | excerpt }}...
			<p><a href="{{ root_url }}{{ post.url }}">Läs hela artikeln</a></p>
		</div>
	</article>
	{% endfor %}
</section>