---
layout: default
---

<section class="wrapper post">
	{% for post in site.posts reverse %}
	<article>
		<header>
			<h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
			
			{% capture category %}{{ post.categories | category_links | size }}{% endcapture %}
			{% unless category == '0' %}
			<p class="meta">
			  {% if post.author %}
			  	<span>{{ post.author }}</span> 
			  {% endif %}
			  | <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='year'>%Y</span>-<span class='month'>%m</span>-<span class='day'>%d</span>"}}</time>
			  | 
			  {% if post %}
			    {{ post.categories | category_links }}
			  {% else %}
			    {{ page.categories | category_links }}
			  {% endif %}
			</p>
			{% endunless %}
		</header>
	
		<div>
			{{ post.content | excerpt | strip_html }}
			<p><a href="{{ root_url }}{{ post.url }}">Läs hela artikeln</a></p>
		</div>
	</article>
	{% endfor %}
</section>