---
layout: default
---

<section class="wrapper post listing">
	<h1>{{ page.category }}</h1>
	
	{% for post in site.categories[page.category] %}
	<article>
		<header>
			<h2><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
			
			{% capture post.category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
			{% unless category == '0' %}
			<p class="meta">
				{% if post.author %}
					<span>{{ post.author }}</span> 
				{% endif %}
				| <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='year'>%Y</span>-<span class='month'>%m</span>-<span class='day'>%d</span>"}}</time>
				|
				<span class="categories">
					{% if post %}
						{{ post.categories | category_links }}
					{% else %}
						{{ page.categories | category_links }}
					{% endif %}
				</span>
			</p>
			{% endunless %}
		</header>
	
		<div>
			{{ post.content | excerpt | strip_html }}
			<p><a href="{{ root_url }}{{ post.url }}">Läs hela artikeln</a></p>
		</div>
	</article>
	{% endfor %}
</section>