---
layout: default
single: true
---

<nav class="post-navigation">
	{% if page.next.url %}
		<a class="basic-alignment next" href="{{page.next.url}}" title="Nästa inlägg: {{page.next.title}}">Nästa</a>
	{% endif %}
	{% if page.previous.url %}
		<a class="basic-alignment prev" href="{{page.previous.url}}" title="Föregående inlägg: {{page.previous.title}}">Föregående</a>
	{% endif %}
</nav>

<section class="wrapper post">
	<article>
		<header>
			<h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
			
			{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
			{% unless category == '0' %}
			<p class="meta">
				<span>{{ page.author }}</span>
				| <time datetime="{{ page.date | datetime | date_to_xmlschema }}" pubdate>{{ page.date | date: "<span class='year'>%Y</span>-<span class='month'>%m</span>-<span class='day'>%d</span>"}}</time>

				|
				{% if post %}
				{{ post.categories | category_links }}
				{% else %}
				{{ page.categories | category_links }}
				{% endif %}
			</p>
			{% endunless %}
		</header>
	
		<div>
			{{ content }}
		</div>
	</article>
	
	{% if site.disqus_short_name and page.comments == true %}
	<div>
		<div class="wrapper comments">
			<h2>Kommentera</h2>
			<div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
		</div>
	</div>
	{% endif %}
</section>