---
layout: default
single: true
---

<nav class="post-navigation">
	{% if page.previous.url %}
		<a class="basic-alignment next" href="{{page.previous.url}}" title="Nästa inlägg: {{page.previous.title}}">Nästa</a>
	{% endif %}
	{% if page.next.url %}
		<a class="basic-alignment prev" href="{{page.next.url}}" title="Föregående inlägg: {{page.next.title}}">Föregående</a>
	{% endif %}
</nav>

<section class="wrapper post">
	<article>
		<header>
			<h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
			
			{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
			{% unless category == '0' %}
			<p class="meta">
				<span>{{ page.author }}</span>
				| <time datetime="{{ page.date | datetime | date_to_xmlschema }}" pubdate>{{ page.date | date: "<span class='year'>%Y</span>-<span class='month'>%m</span>-<span class='day'>%d</span>"}}</time>

				|
				{% if post %}
				{{ post.categories | category_links }}
				{% else %}
				{{ page.categories | category_links }}
				{% endif %}
			</p>
			{% endunless %}
		</header>
	
		<div>
			{{ content }}
		</div>
	</article>
	
	{% if page.authorDescription %}
		<article class="authorDescription">
			<div>
				{% if page.authorImage %}
					<img src="{{ page.authorImage }}" alt="{{ page.author }}" />
				{% else %}
					<img src="/images/logoPost.png" alt="Vinnovera" />
				{% endif %}
			</div>
			<div>
				<h3>{{ page.author }}</h3>
				<a href="mailto: {{ page.authorMail }}">({{ page.authorMail }})</a>
				<p>{{ page.authorDescription }}</p>
				<p>Vi är specialister på frontend-utveckling och ser gränssnitt för desktop, surplattor och mobiltelefoner som vårt hantverk. Vi vill jobba med kunder som tycker att kvalitet är viktigt, tänker långsiktigt och vill skapa webbupplevelser med det där lilla extra.</p>
				<p><a href="/blogg">Tillbaka till bloggen</a> | <a href="/blogg/2013/11/18/om-vinnovera/">Mer om Vinnovera</a></p>
			</div>
		</article>
	{% else %}
		<article class="authorDescription">
			<div>
				<img src="/images/logoPost.png" alt="Vinnovera" />
			</div>
			<div>
				<h3>Vinnovera</h3>
				<a href="mailto: info@vinnovera.se">(info@vinnovera.se)</a>
				<p>{{ page.authorDescription }}</p>
				<p>Vi är specialister på frontend-utveckling och ser gränssnitt för desktop, surfplattor och mobiltelefoner som vårt hantverk. Vi vill jobba med kunder som tycker att kvalitet är viktigt, tänker långsiktigt och vill skapa webbupplevelser med det där lilla extra.</p>
				<p><a href="/">Tillbaka till startsidan</a></p>
			</div>
		</article>
	{% endif %}
	
	{% if site.disqus_short_name and page.comments == true %}
	<div>
		<div class="wrapper comments">
			<h2>Kommentera</h2>
			<div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
		</div>
	</div>
	{% endif %}
</section>
