/***** SUMO *****/

.sumo-header
	height: 500px
	height: 80vh
	background: url('/images/sumo/sumo-bot.gif') center center no-repeat
	background-size: cover

	a
		background: url('/images/logoSymbolBlack@2x.png') center center no-repeat
		background-size: cover
		position: absolute
		width: 75px
		height: 75px
		top: 20px
		left: 20px

	img
		position: absolute
		margin-left: -100px
		top: 30%
		left: 50%
		width: 200px

section.sumo:nth-of-type(2)
	padding-bottom: 0

.sumo:nth-of-type(odd)
	background: $blue
	
	*
		color: white
		
.sumo:last-of-type
	padding-bottom: 0
	
	ul
		margin: 0

.sumo 
	.sumo-content, blockquote
		width: 80%
		max-width: 640px
		padding-left: 10%
		padding-right: 10%
		margin: 0 auto

.sumo
	width: 100%
	max-width: 100%
	padding: 100px 0px
	line-height: 29px

	h1
		text-align: left
		margin-bottom: 15px
		font-size: 35px
		
	h2 
		font-size: 20px
		line-height: 1.5em
		color: $blue
		margin-top: 15px
		margin-bottom: 15px
		
	.contentList
		margin: 15px auto

	.sumo-images
		background: $blue
		max-width: 100%
		margin-top: 100px
		letter-spacing: -4px

		img
			//position: relative
			width: 25%
			height: 100%
			float: left
			
			+bp(slick-rick)
				width: 50%
				
		&:after
			clear: both
			content: ''
			display: block 
					
			
	.sumo-video
		position: relative
		padding: 0 0 55.9375%
		height: 0
		margin: 50px auto

		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

	.imageslider_holder
		margin-top: 50px
		max-width: 100%

		ul
			max-width: 100%
			padding-left: 0

			&:after
				content: ''
				clear: both
				display: block

			li
				float: left
				list-style-type: none
				width: 25%
				margin-bottom: -8px
				
				+bp(slick-rick)
					width: 50%

				img
					width: 100%

	blockquote
		text-align: left
		margin: 0 auto
		opacity 1
		transition: all 0.3s ease-in-out
		
		&.fadeOut
			opacity: 0		

		.quote
			margin: 0
			font-style: italic
			font-size: 25px
			
			
			&:before
				content: '\201C '
				font-size: 30px
				
			&:after
				content: ' \201D'
				font-size: 30px

		footer
			margin-top: 1em
			text-transform: capitalize

			&:before
				content: '- '

/* Slider CSS */
.sliderwrapper
	width: 100%;
	height: 100%;

	ul
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		height: 100%;
		width: 100%;

		display: table;
		table-layout: fixed;

		li
			text-align: center;
			background: url('ajax-loader.gif') no-repeat 50% 50%;
			display: table-cell;
			vertical-align: middle;
			position: relative;

			img
				max-width: 100%;
				max-height: 100%;
				vertical-align: middle;