$black = black
$gray = #333333
$blue = #3FA9F5
$orange = #F15A24
$yellow = #ffb829
$green = #39B54A
$red = #ED1C24

$brandFontStack = Roboto, "Helvetica Neue Light", Arial
$mono = Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default
$noise-bg = image-url('noise.png') top left !default

$hover = #3790cf
$whitehover = #ddd

.sans
	font-family: 'Roboto Slab'
	
.serif
	font-family: $brandFontStack
.mono
	font-family: $mono