.sans {
  font-family: 'Roboto Slab';
}
.serif {
  font-family: Roboto, "Helvetica Neue Light", Arial;
}
.mono {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace false;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=9dd7aa3d-aa25-437c-9c4c-1923c8138802&fontids=692282");
h1,
h2 {
  font: normal 50px/1em Roboto, "Helvetica Neue Light", Arial;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (max-width: 560px) {
  h1,
  h2 {
    font-size: 42px;
  }
}
h2 {
  font-size: 31px;
  line-height: 1em;
  text-align: left;
  margin-bottom: 15px;
}
@media (max-width: 560px) {
  h2 {
    font-size: 26px;
  }
}
h3 {
  font-size: 24px;
  margin-top: 0;
}
@media (max-width: 560px) {
  h3 {
    font-size: 20px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #3fa9f5;
  text-decoration: underline;
}
a:hover {
  color: #3790cf;
}
p {
  margin: 20px 0 0;
}
.post-navigation {
  width: 100%;
  position: relative;
  z-index: 105;
}
@media (max-width: 768px) {
  .post-navigation {
    display: none;
  }
}
.post-navigation > a,
.post-navigation > span {
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  letter-spacing: normal;
  position: fixed;
  top: 40%;
  display: inline-block;
  width: 150px;
  color: #fff;
  transition: margin 0.2s;
  border: 0;
  text-decoration: none;
}
.post-navigation > a:hover,
.post-navigation > span:hover {
  margin: 0;
}
.post-navigation > .total {
  color: #999;
  border-top: 1px solid #999;
  display: inline-block;
}
.post-navigation > .next {
  background: #000 url("../images/next_arrow.png") left center no-repeat;
  height: 50px;
  right: 0;
  margin-right: -116px;
  line-height: 50px;
  padding-left: 37px;
}
.post-navigation > .prev {
  background: #000 url("../images/prev_arrow.png") right center no-repeat;
  height: 50px;
  line-height: 50px;
  margin-left: -116px;
  left: 0;
  padding-right: 37px;
  text-align: right;
}
.post-navigation > span.next,
.post-navigation > span.prev {
  opacity: 0.5;
}
.jso-overlay {
  background: rgba(0,0,0,0.9);
}
.jso-closebutton {
  background: url("../images/close.png");
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.post article p img {
  cursor: pointer;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1d1f21;
  -webkit-text-size-adjust: none;
}
.hljs::selection,
.hljs span::selection {
  background: #373b41;
}
.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41;
}
.hljs,
.hljs-setting .hljs-value,
.hljs-expression .hljs-variable,
.hljs-expression .hljs-begin-block,
.hljs-expression .hljs-end-block,
.hljs-class .hljs-params,
.hljs-function .hljs-params,
.hljs-at_rule .hljs-preprocessor {
  color: #c5c8c6;
}
.hljs-title,
.hljs-function .hljs-title,
.hljs-keyword .hljs-common,
.hljs-class .hljs-title,
.hljs-decorator,
.hljs-tag .hljs-title,
.hljs-header,
.hljs-sub,
.hljs-function {
  color: #f0c674;
}
.hljs-comment,
.hljs-javadoc,
.hljs-output .hljs-value,
.hljs-pi,
.hljs-shebang,
.hljs-doctype {
  color: #707880;
}
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link_url,
.hljs-symbol .hljs-string,
.hljs-argument,
.hljs-hexcolor,
.hljs-input .hljs-prompt,
.hljs-char {
  color: #c66;
}
.hljs-string,
.hljs-special,
.hljs-javadoctag,
.hljs-addition,
.hljs-important,
.hljs-tag .hljs-value,
.hljs-at.rule .hljs-keyword,
.hljs-regexp,
.hljs-attr_selector {
  color: #b5bd68;
}
.hljs-variable,
.hljs-property,
.hljs-envar,
.hljs-code,
.hljs-expression,
.hljs-localvars,
.hljs-id,
.hljs-variable .hljs-filter,
.hljs-variable .hljs-filter .hljs-keyword,
.hljs-template_tag .hljs-filter .hljs-keyword {
  color: #b294bb;
}
.hljs-statement,
.hljs-label,
.hljs-keyword,
.hljs-xmlDocTag,
.hljs-function .hljs-keyword,
.hljs-chunk,
.hljs-cdata,
.hljs-link_label,
.hljs-bullet,
.hljs-class .hljs-keyword,
.hljs-smartquote,
.hljs-method,
.hljs-list .hljs-title,
.hljs-tag {
  color: #81a2be;
}
.hljs-pseudo,
.hljs-exception,
.hljs-annotation,
.hljs-subst,
.hljs-change,
.hljs-cbracket,
.hljs-operator,
.hljs-horizontal_rule,
.hljs-preprocessor .hljs-keyword,
.hljs-typedef,
.hljs-template_tag,
.hljs-variable,
.hljs-variable .hljs-filter .hljs-argument,
.hljs-at_rule,
.hljs-at_rule .hljs-string,
.hljs-at_rule .hljs-keyword {
  color: #8abeb7;
}
.hljs-type,
.hljs-typename,
.hljs-inheritance .hljs-parent,
.hljs-constant,
.hljs-built_in,
.hljs-setting,
.hljs-structure,
.hljs-link_reference,
.hljs-attribute,
.hljs-blockquote,
.hljs-quoted,
.hljs-class,
.hljs-header {
  color: #de935f;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs {
  padding: 0.8em;
  font-size: 13px;
  line-height: 1.45em;
  background: #002b36;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: pre;
}
.hljs::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(255,255,255,0.15);
}
.hljs::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255,255,255,0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.clearfix:before,
body > section.what-we-do .projects:before,
body > section.post-extra .splits:before,
.wrapper:before,
.clearfix:after,
body > section.what-we-do .projects:after,
body > section.post-extra .splits:after,
.wrapper:after {
  content: " ";
  display: table;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  text-rendering: optimizeLegibility;
  font: 400 16px/20px "Roboto Slab", serif;
  color: #333;
}
body > .to-top {
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background-image: url("../images/logoSymbolBlack.png");
  position: fixed;
  top: -60px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.5s;
  border: 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body > .to-top {
    background: url("../images/logoSymbolBlack@2x.png") no-repeat;
    background-size: 60px 60px;
  }
}
body > .to-top.visible {
  opacity: 1;
  top: 10px;
}
@media (max-width: 560px) {
  body > .to-top.visible {
    opacity: 0;
  }
}
body > footer {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
body > footer span,
body > footer a {
  margin: 0 8px;
}
@media (max-width: 580px) {
  body > footer span,
  body > footer a {
    display: block;
    text-align: right;
    margin: 0;
  }
}
@media (max-width: 580px) {
  body > footer > span {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
    position: relative;
  }
}
@media (max-width: 580px) {
  body > footer > span:before {
    content: "Telefon";
    position: absolute;
    left: 0;
    top: 0;
    color: #666;
  }
}
@media (max-width: 580px) {
  body > footer > span:first-child:before {
    content: "Adress";
  }
}
@media (max-width: 580px) {
  body > footer > a {
    margin-top: 20px;
    position: relative;
  }
  body > footer > a:before {
    content: "E-post";
    position: absolute;
    left: 0;
    top: 0;
    color: #666;
  }
}
@media (max-width: 580px) {
  body > footer {
    margin: 0px 20px 40px;
    padding: 0;
  }
}
body > header {
  height: 80px;
  background: #000;
  position: relative;
  z-index: 2;
}
body > header.small {
  position: fixed;
  top: 0;
  left: -20px;
  right: -20px;
  height: 40px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}
body > header.small > h1 {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  background-image: url("../images/logoSymbolBlack.png");
}
body > header.small > nav > a {
  font-size: 14px;
  line-height: 40px;
  color: #000;
}
body > header > h1 {
  width: 38px;
  height: 38px;
  background: url("../images/logo.png") no-repeat;
  margin: 0;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -19px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body > header > h1 {
    background: url("../images/logox2.png") no-repeat;
    background-size: 150px 38px;
  }
}
@media (max-width: 815px) {
  body > header > h1 {
    left: 20px;
  }
}
@media (max-width: 560px) {
  body > header > h1.index {
    display: none;
  }
}
body > header > h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
body > header > nav {
  text-align: center;
}
body > header > nav > a,
body > header > nav > span {
  line-height: 80px;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue Light", Arial;
  border: 0px;
}
body > header > nav > a:hover,
body > header > nav > span:hover {
  color: #ddd;
}
body > header > nav > span:hover {
  color: #fff;
}
body > header > nav > span.labs {
  width: 200px;
  height: 123px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: url("../images/labs.png") no-repeat;
  padding: 0;
}
@media (max-width: 815px) {
  body > header > nav {
    padding-left: 58px;
  }
}
body > section {
  padding: 100px 0;
}
@media (max-width: 560px) {
  body > section {
    padding: 50px 0;
  }
}
body > section.about {
  background: #3fa9f5;
  color: #fff;
}
body > section.about > .wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}
body > section.about > .wrapper > img {
  display: block;
  margin: 0 auto 50px;
}
body > section.about > .wrapper .hisspitch {
  font: 300 34px/1.2 Roboto, "Helvetica Neue Light", Arial;
}
body > section.about > .wrapper .hisspitch a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
@media (max-width: 580px) {
  body > section.about > .wrapper .hisspitch {
    font-size: 24px;
  }
}
body > section.about > .wrapper .hisspitch strong {
  font-weight: 400;
}
body > section.about > .wrapper > .contact {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  line-height: 1.5;
}
body > section.about > .wrapper > .contact a {
  color: #fff;
  margin: 0 8px;
}
body > section.about > .wrapper > .contact a:hover {
  color: #ddd;
}
body > section.about > .wrapper > .contact span {
  margin: 0 8px;
}
@media (max-width: 580px) {
  body > section.about > .wrapper > .contact a {
    display: inline-block;
  }
  body > section.about > .wrapper > .contact > span {
    display: block;
  }
  body > section.about > .wrapper > .contact > span > span:first-child {
    display: block;
  }
}
body > section.what-we-do h1 {
  font-size: 42px;
  line-height: 48px;
}
body > section.what-we-do h2 {
  font-size: 26px;
}
body > section.what-we-do p {
  line-height: 23px;
}
body > section.what-we-do a {
  color: #333;
  text-decoration: none;
}
body > section.what-we-do .link {
  color: #3fa9f5;
  text-decoration: underline;
}
body > section.what-we-do .link:hover {
  color: #3790cf;
}
body > section.what-we-do > .featured {
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
body > section.what-we-do > .featured .wrapper {
  overflow: hidden;
  position: relative;
  min-height: 322px;
}
body > section.what-we-do > .featured .img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 62%;
  padding-right: 40px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  body > section.what-we-do > .featured .img {
    position: static;
    width: 100%;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
}
body > section.what-we-do > .featured .img > img {
  display: block;
  margin: 0 auto;
}
body > section.what-we-do > .featured .content {
  padding-top: 40px;
  float: right;
  width: 38%;
}
@media (max-width: 768px) {
  body > section.what-we-do > .featured .content {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  body > section.what-we-do > .featured {
    margin: 0 20px;
    border-bottom: 1px solid #ddd;
  }
  body > section.what-we-do > .featured > div {
    padding: 0;
  }
}
body > section.what-we-do .category {
  color: #666;
  font-family: Roboto, "Helvetica Neue Light", Arial;
  display: block;
}
body > section.what-we-do .projects {
  margin-left: -30px;
  margin-top: 40px;
  overflow: hidden;
  word-spacing: 0;
  letter-spacing: -0.25em;
}
@media (max-width: 580px) {
  body > section.what-we-do .projects {
    margin-top: 0;
    margin-left: 0;
  }
}
body > section.what-we-do .projects > article {
  display: inline-block;
  width: 33.333%;
  padding-left: 30px;
  padding-bottom: 30px;
  word-spacing: normal;
  letter-spacing: normal;
  vertical-align: top;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  body > section.what-we-do .projects > article {
    width: 50%;
    margin-bottom: 40px;
  }
}
@media (max-width: 580px) {
  body > section.what-we-do .projects > article {
    width: 100%;
    padding-bottom: 20px;
    margin: 40px 0 0;
    padding-left: 0px;
    border-bottom: 1px solid #ddd;
  }
}
body > section.what-we-do .projects > article .category {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
body > section.what-we-do .projects > article img {
  display: block;
  margin-bottom: 0;
}
body > section.project-listing {
  overflow: hidden;
}
body > section.project-listing a {
  color: #333;
}
body > section.project-listing .link {
  color: #3fa9f5;
}
body > section.project-listing .category {
  color: #666;
  font-family: Roboto, "Helvetica Neue Light", Arial;
  display: block;
}
body > section.project-listing article {
  width: 33.333%;
  padding-left: 30px;
  box-sizing: border-box;
  float: left;
  margin-top: 30px;
}
body > section.project-listing article .category {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
body > section.project-listing article > img {
  display: block;
  margin-bottom: 0;
}
body > section.blog {
  background: #f15a24;
  color: #fff;
}
body > section.blog h1 {
  font-size: 42px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 20px;
  color: #fff;
  line-height: 48px;
}
body > section.blog h1 > a {
  font: inherit;
  color: inherit;
  border: 0;
  padding-bottom: 10px;
  border-bottom: 5px solid #fff;
  text-decoration: none;
  display: block;
}
@media (max-width: 768px) {
  body > section.blog h1 {
    width: 100%;
  }
}
body > section.blog h2 {
  color: #fff;
  font-weight: 700;
}
body > section.blog .link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}
body > section.blog .articles {
  margin-left: -40px;
  overflow: hidden;
  word-spacing: -1px;
  font-size: 0;
}
body > section.blog .articles > article {
  display: inline-block;
  width: 50%;
  padding-left: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  word-spacing: normal;
  font-size: 16px;
  line-height: 23px;
  vertical-align: top;
}
@media (max-width: 768px) {
  body > section.blog .articles > article {
    width: 100%;
  }
}
body > section.blog .articles > article > .inner {
  min-height: 212px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
body > section.blog .articles > article > .inner > a {
  color: #fff;
  text-decoration: none;
}
body > section.blog .articles > article > .inner .link {
  color: #fff;
}
body > section.blog .articles > article > .inner .link:hover {
  color: #ddd;
}
body > section.blog .articles > article > .inner time {
  display: block;
  font-size: 11px;
  margin-top: -15px;
}
body > section.blog .more {
  text-align: center;
  padding: 80px 0 0;
}
body > section.blog .more a {
  font-size: 20px;
}
body > section.blog .more a:hover {
  color: #ddd;
}
body > section.people {
  padding-bottom: 0;
}
body > section.people h1 {
  font-size: 42px;
  line-height: 48px;
}
body > section.people .humans {
  margin-left: -30px;
  margin-top: -30px;
  word-spacing: -1px;
  font-size: 0;
  text-align: center;
}
body > section.people .humans > article {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  word-spacing: normal;
  padding-left: 30px;
  margin-top: 30px;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}
@media (max-width: 1020px) {
  body > section.people .humans > article {
    width: 25%;
  }
}
@media (max-width: 768px) {
  body > section.people .humans > article {
    width: 33.333%;
  }
}
@media (max-width: 580px) {
  body > section.people .humans > article {
    width: 50%;
  }
}
body > section.people .humans > article > img {
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}
body > section.people .humans > article > strong {
  display: block;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue Light", Arial;
  font-weight: 600;
}
body > section.people .humans > article > span {
  display: block;
}
body > section.contact {
  padding-bottom: 0;
}
body > section.contact > h1 {
  font-size: 42px;
  line-height: 48px;
}
body > section.contact > div {
  height: 580px;
  position: relative;
}
@media (max-width: 580px) {
  body > section.contact > div {
    display: none;
  }
}
body > section.contact > div > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/map.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  border: 0px;
  z-index: 1;
}
body > section.contact > div .wrapper {
  height: 100%;
}
body > section.contact > div article {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 370px;
  max-width: 100%;
  height: 225px;
  margin-top: -140px;
  z-index: 2;
}
body > section.contact > div article > section {
  overflow: hidden;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
body > section.contact > div article > section:first-child {
  padding-top: 0;
  margin-top: 0;
  border: none;
}
body > section.contact > div article > section > .label {
  float: left;
  color: #666;
}
body > section.contact > div article > section > .value {
  float: right;
  text-align: right;
}
body > section.contact > div article > section > .value > span {
  display: block;
}
body > section.contact > div article > section > .value > span > a {
  line-height: 25px;
}
body > section.post {
  max-width: 640px;
  font-size: 19px;
  line-height: 29px;
}
@media (max-width: 560px) {
  body > section.post {
    padding-top: 50px;
    font-size: 16px;
    line-height: 23px;
  }
}
body > section.post .categories {
  display: inline-block;
}
body > section.post h2 {
  font-size: 28px;
}
@media (max-width: 470px) {
  body > section.post h2 {
    font-size: 24px;
    line-height: 1.2;
  }
}
body > section.post h3,
body > section.post h4 {
  margin-bottom: -15px;
}
body > section.post li a {
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
body > section.post div a:visited {
  color: #609;
  border-color: #609;
}
body > section.post .portrait {
  float: right;
  display: block;
  border-radius: 50%;
  margin: 0 0 0 20px;
}
@media (max-width: 470px) {
  body > section.post .portrait {
    float: none;
    display: block;
    margin: 0 auto 10px;
  }
}
body > section.post .authorDescription {
  background-color: #333;
  color: #fff;
  padding: 20px;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
}
body > section.post .authorDescription > div {
  width: 75%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding-left: 20px;
  vertical-align: top;
}
body > section.post .authorDescription > div:first-child {
  width: 25%;
  padding: 0;
}
body > section.post .authorDescription > div:first-child > a {
  text-align: center;
  display: block;
}
@media (max-width: 560px) {
  body > section.post .authorDescription > div {
    width: 100%;
  }
  body > section.post .authorDescription > div:first-child {
    display: none;
  }
}
body > section.post .authorDescription > div p {
  margin-top: 10px;
}
body > section.post .authorDescription > div a {
  color: #fff;
}
body > section.post .authorDescription > div a.tel {
  text-decoration: none;
}
body > section.post .authorDescription > div a:visited {
  color: #fff;
}
body > section.post .authorDescription > div img {
  display: block;
  border-radius: 50%;
  margin: 0 auto 10px;
}
body > section.post .authorDescription h3 {
  margin: 0 8px 0 0;
  display: inline;
  font-size: 18px;
}
body > section.post .authorDescription h3 + a {
  text-decoration: none;
  padding-top: 2px;
}
body > section.post .comments {
  max-width: 600px;
  margin-top: 80px;
}
body > section.post .comments h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
body > section.post.listing h1 {
  margin-bottom: 60px;
}
@media (max-width: 470px) {
  body > section.post.listing h1 {
    font-size: 36px;
  }
}
body > section.post.listing > article {
  margin-top: 40px;
}
body > section.post.listing > article > header > h2 {
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
}
body > section.post.listing > article > header > h2 > a {
  text-decoration: none;
  color: #333;
}
body > section.post > article {
  margin-bottom: 60px;
}
body > section.post > article > header {
  padding-bottom: 20px;
  border-bottom: 2px solid #666;
  margin-bottom: 40px;
}
body > section.post > article > header > h1 {
  margin-bottom: 15px;
}
body > section.post > article > header > h1 > a {
  border: 0;
  text-decoration: none;
  color: #333;
}
@media (max-width: 470px) {
  body > section.post > article > header > h1 {
    font-size: 30px;
    font-size: 9vw;
  }
}
body > section.post > article > header > p {
  margin: 0;
  text-align: center;
}
body > section.post > article > header > p > a {
  text-decoration: none;
  border-bottom: 2px solid #3fa9f5;
}
body > section.post > article h2 {
  margin-top: 30px;
}
body > section.post > article h2 + p {
  margin-top: 0px;
}
body > section.post > article h2 + ul {
  margin-top: 0px;
}
body > section.post > article h3 {
  margin-top: 30px;
}
body > section.post > article p {
  margin: 30px 0 0;
}
body > section.post > article ul {
  margin: 30px 0;
}
body > section.post > article .video {
  margin-top: 30px;
  position: relative;
}
body > section.post > article .video.youtube {
  padding-bottom: 56%;
}
body > section.post > article .video > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
body > section .comments {
  max-width: 600px;
}
body > section .comments h2 {
  text-align: center;
  margin-bottom: 20px;
}
body > section.post-extra {
  background: #f15a24;
  color: #fff;
}
body > section.post-extra h2 {
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
}
body > section.post-extra .splits {
  margin-left: -40px;
}
body > section.post-extra .splits > .split-half {
  float: left;
  padding-left: 40px;
  width: 50%;
  box-sizing: border-box;
}
body > section.post-extra .post {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #fff;
}
body > section.post-extra .post:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
body > section.post-extra .post a {
  color: #fff;
  display: block;
}
body > section.post-extra .link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.fetch {
  text-align: center;
  margin-top: 40px;
}
.fetch > a {
  border-radius: 3px;
  background: #3fa9f5;
  color: #fff !important;
  padding: 10px 20px;
  font-family: Roboto, "Helvetica Neue Light", Arial;
  font-weight: 700;
}
.toggle-menu {
  height: 32px;
  width: 32px;
  background-color: #333;
  display: none;
  border-radius: 3px;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -16px;
  padding: 10px 7px;
  box-sizing: border-box;
  border: 0px;
}
@media (max-width: 560px) {
  .toggle-menu {
    display: block;
  }
  .toggle-menu + nav {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: #fff;
    text-align: left;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
    padding: 0;
  }
  .toggle-menu + nav > a,
  .toggle-menu + nav > span {
    display: block;
    color: #333;
    line-height: 55px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
  }
  .toggle-menu + nav > a:hover,
  .toggle-menu + nav > span:hover {
    color: #666;
  }
  .toggle-menu + nav > span:hover {
    color: #333;
  }
  .toggle-menu > span {
    width: 18px;
    height: 2px;
    background: #fff;
    margin-bottom: 3px;
    display: block;
    transition: opacity 0.3s, transform 0.3s;
  }
  .toggle-menu.open + nav {
    height: 280px;
    transition: height 0.3s;
  }
  .toggle-menu.open > span:first-child {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .toggle-menu.open > span:first-child + span {
    opacity: 0;
  }
  .toggle-menu.open > span:last-child {
    transform: rotate(-45deg) translate(3px, -3px);
  }
  .toggle-menu:before {
    display: table;
    content: "Meny";
    position: absolute;
    top: 5px;
    left: -53px;
    color: #fff;
    font-family: Roboto, "Helvetica Neue Light", Arial;
  }
}
table.airy {
  margin-top: 15px;
}
table.airy td {
  padding-right: 20px;
  text-align: center;
}
table.airy td:first-child {
  text-align: left;
}
