bp($point)
	if ($point == 'dr-dre')
		@media (max-width: 1280px)
			{block}

	if ($point == 'tupac')
		@media (max-width: 1100px)
			{block}			

	if ($point == 'gza')
		@media (max-width: 1020px)
			{block}

	if ($point == 'danger-doom')
		@media (max-width: 815px)
			{block}
	
	if ($point == 'ol-dirty-bastard')
		@media (max-width: 768px)
			{block}
	
	if ($point == 'celph-titled')
		@media (max-width: 710px)
			{block}
	
	if ($point == 'masta-killa')
		@media (max-width: 580px)
			{block}
	
	if ($point == 'slick-rick')
		@media (max-width: 560px)
			{block}
	
	if ($point == 'q-tip')
		@media (max-width: 470px)
			{block}
			


	if ($point == 'slider-break')
		@media (max-width: 3020px)
			{block}
			
	if ($point == 'retina')
		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
			{block}
	
