<!DOCTYPE html>
<html>
{{{ partial "head.html" }}}
<body {{#if index}}class="index"{{/if}}>
{{{ partial "header.html" }}}
<section class="wrapper post">
	<article>
		<header>
			<h1>{{title}}</h1>
		</header>

		<div>
			{{{contents}}}
		</div>
	</article>

	<article class="authorDescription">
		<div>
			<img src="/images/logoPost.png" alt="Vinnovera" />
		</div>
		<div>
			<h3>Vinnovera</h3>
			<a href="mailto: info@vinnovera.se">(info@vinnovera.se)</a>
			<p>Vi är specialister på frontend-utveckling och ser gränssnitt för desktop, läsplattor och mobil som vårt hantverk. Vi vill jobba med kunder som tycker att kvalité är viktigt, tänker långsiktigt och vill skapa webbupplevelser med det där lilla extra.</p>
			<p><a href="/#projekt">Tillbaka till kunder & projekt</a> | <a href="/blogg/2013/11/18/om-vinnovera/">Mer om Vinnovera</a></p>
		</div>
	</article>
</section>

{{#if comments}}
	<section>
		<div class="wrapper">
			<h1>Disskutera</h1>
			<div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
		</div>
	</section>
{{/if}}
{{{ partial "footer.html" }}}
{{{ partial "scripts.html" }}}
</body>
</html>