<!DOCTYPE html>
<html>
{{{ partial "head.html" }}}
<body {{#if index}}class="index"{{/if}}>
{{{ partial "header.html" }}}
<section class="wrapper">
	<header>
		<h1>{{title}}</h1>
	</header>
	<ul>
		<li>Alla inlägg listas</li>
		<li>Inlägg ska kunna filtreras, sorteras</li>
		<li>Kortfattat, kanske bara en länk?</li>
		<li>Vid behov kan undersida skapas</li>
	</ul>
	<div id="labs-filter" class="labs-filter">
		<button class="javascript" data-filter=".js">JS</button>
		<button class="html" data-filter=".html">Html</button>
		<button class="css" data-filter=".css">Css</button>
		<button class="sumo" data-filter=".sumo">Sumo</button>
		<button class="all" data-filter="*">Alla</button>
	</div>
	<div class="labs">
		<article class="labs-item">
			<div>
				<div>
					<section>
						<h2>Titel</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum porttitor volutpat. Praesent dictum rutrum velit a sollicitudin. Donec at tincidunt orci, ut convallis lectus.</p>
					</section>
					<span class="category html"></span>
					<span class="category css"></span>
				</div>
			</div>
		</article>
		<article class="labs-item css">
			<div>
				<div>
					<section>
						<h2>Titel</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum porttitor volutpat. </p>
					</section>
					<span class="category javascript"></span>
				</div>
			</div>
		</article>
		<article class="labs-item sumo">
			<div>
				<div>
					<section>
						<h2>Titel</h2>
						<p>Praesent dictum rutrum velit a sollicitudin. Donec at tincidunt orci, ut convallis lectus. </p>
						</section>
						<span class="category html"></span>
						<span class="category javascript"></span>
				</div>
			</div>
		</article>
		<article class="labs-item">
			<div>
				<div>
					<section>
						<h2>Titel</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum porttitor volutpat. Praesent dictum rutrum velit a sollicitudin. Donec at tincidunt orci, ut convallis lectus.</p>
					</section>
					<span class="category other"></span>
				</div>
			</div>
		</article>
	</div>
</section>

{{{ partial "footer.html" }}}
{{{ partial "scripts.html" }}}

<script src="/javascripts/components/isotope.pkgd.min.js"></script>
<script src="/javascripts/components/packery.pkgd.min.js"></script>
<script src="/javascripts/labs.js" type="text/javascript"></script>
</body>
</html>