<!DOCTYPE html>
<html>
{{{ partial "head.html" }}}
<body {{#if index}}class="index"{{/if}}>
{{{ partial "header.html" }}}
<section class="wrapper">
	<header>
		<h1>{{title}}</h1>
	</header>
	<div id="labs-filter" class="labs-filter">
		<button data-filter=".js">JS</button>
		<button data-filter=".html">Html</button>
		<button data-filter=".css">Css</button>
		<button data-filter=".sumo">Sumo</button>
		<button data-filter=".trix">Trix</button>
		<button data-filter="*">Alla</button>
	</div>
	<div class="labs">
		<article class="labs-item css">
			<section>
				<h2>Margin auto with position absolute</h2>
				<div class="fifty-fifty">
					<p data-preview="true" data-height="268" data-theme-id="0" data-slug-hash="myaWVJ" data-default-tab="result" data-user="pstenstrm" class='codepen'>See the Pen <a href='http://codepen.io/pstenstrm/pen/myaWVJ/'>Margin auto with position absolute</a> by Per Stenström (<a href='http://codepen.io/pstenstrm'>@pstenstrm</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
					<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
				</div>
				<div class="fifty-fifty">
					<p>Jag beskriver vad som händer i koden och är uppdelad i två ytor att jobba med</p>
				</div>
			</section>
		</article>
		<article class="labs-item trix">
			<section>
				<h2>Codepen: Click-to-Play Embeds</h2>
				<p>Just add <code>data-preview="true"</code> to the HTML embed code.</p>
				<blockquote>Starting now, oEmbed embedded Pens will load in a preview state! This is a much lighter-weight and simpler view, featuring the Pen’s title, author, and a Run Pen button.</blockquote>
			</section>
		</article>
		<article class="labs-item css js html sumo">
			<section>
				<h2>En bild, lite text och länk till ett blogginlägg</h2>
				<div class="fifty-fifty">
					<p>Jag beskriver vad som händer i koden och är uppdelad i två ytor att jobba med.</p>
					<p>Att köpa:</p>
					<ul>
						<li>Bjällra</li>
						<li>Konstsnö</li>
						<li>Pepparkaksdeg</li>
						<li>Resistorer</li>
					</ul>
					<a href="#">Läs mer om mig</a>
				</div>
				<div class="fifty-fifty">
					<img src="http://placekitten.com/1024/750" alt="Gustav">
				</div>
			</section>
		</article>
		<article class="labs-item css js">
			<section>
				<h2>Standard menu /w burger</h2>
				<p data-preview="true" data-height="268" data-theme-id="0" data-slug-hash="yyqvVg" data-default-tab="result" data-user="029" class='codepen'>See the Pen <a href='http://codepen.io/029/pen/yyqvVg/'>Standard menu /w burger</a> by Haren (<a href='http://codepen.io/029'>@029</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
				<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
			</section>
		</article>
		<article class="labs-item css html">
			<div>
				<div>
					<section>
						<h2>Evenly distributed menu trick</h2>
						<p data-preview="true" data-height="268" data-theme-id="0" data-slug-hash="ByrMbJ" data-default-tab="result" data-user="029" class='codepen'>See the Pen <a href='http://codepen.io/029/pen/ByrMbJ/'>Evenly distributed menu trick</a> by Haren (<a href='http://codepen.io/029'>@029</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
						<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
					</section>
				</div>
			</div>
		</article>
		<article class="labs-item html css">
			<div>
				<div>
					<section>
						<h2>Comic-style bubble</h2>
						<p data-preview="true" data-height="268" data-theme-id="0" data-slug-hash="gbozra" data-default-tab="result" data-user="029" class='codepen'>See the Pen <a href='http://codepen.io/029/pen/gbozra/'>Comic-style bubble</a> by Haren (<a href='http://codepen.io/029'>@029</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
						<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
						<p>Jag beskriver lite mer och längre vad som händer i koden ovan för man fattar ju ingenting av det här exemplet utan massa rader med text under. Det är svårt med kod oj oj oj.</p>
					</section>
				</div>
			</div>
		</article>
		<article class="labs-item html css">
			<div>
				<div>
					<section>
						<h2>Align elements, text and stuff to a baseline</h2>
						<p data-height="268" data-theme-id="0" data-slug-hash="KwZQZY" data-default-tab="result" data-user="029" data-preview="true" class='codepen'>See the Pen <a href='http://codepen.io/029/pen/KwZQZY/'>Align elements, text and stuff to a baseline</a> by Haren (<a href='http://codepen.io/029'>@029</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
						<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
					</section>
				</div>
			</div>
		</article>
	</div>
</section>

{{{ partial "footer.html" }}}
{{{ partial "scripts.html" }}}

<script src="/javascripts/components/isotope.pkgd.min.js"></script>
<script src="/javascripts/components/packery.pkgd.min.js"></script>
<script src="/javascripts/labs.js" type="text/javascript"></script>
</body>
</html>