<!DOCTYPE html>
<html>
{{{ partial "head.html" }}}
<body {{#if index}}class="index"{{/if}}>
	<header class="sumo-header">
		<a href="http://www.vinnovera.se"></a>
	</header>
	<section class="wrapper sumo">
		<h2>Robot Sumo</h2>
		<p>Porchetta chicken bresaola tenderloin pastrami sausage ham. Ball tip pork flank, short ribs tongue fatback beef ribs ham hock porchetta ham tail pancetta drumstick. Sausage prosciutto pancetta, meatball pork loin pastrami landjaeger hamburger pig. Pancetta tenderloin capicola tail. Jerky cupim strip steak prosciutto turkey, tongue hamburger chuck. Chicken shoulder drumstick, landjaeger tongue pig kevin ham hock cow meatloaf tenderloin jowl pork chop kielbasa. Ball tip leberkas jowl, kielbasa cupim beef ribs t-bone pork biltong.</p>
		<div class="sumo-images">
			Images!
		</div>
	</section>
	<section class="wrapper sumo">
		<h2>Varför?</h2>
		<p>Porchetta chicken bresaola tenderloin pastrami sausage ham. Ball tip pork flank, short ribs tongue fatback beef ribs ham hock porchetta ham tail pancetta drumstick. Sausage prosciutto pancetta, meatball pork loin pastrami landjaeger hamburger pig. Pancetta tenderloin capicola tail. Jerky cupim strip steak prosciutto turkey, tongue hamburger chuck. Chicken shoulder drumstick, landjaeger tongue pig kevin ham hock cow meatloaf tenderloin jowl pork chop kielbasa. Ball tip leberkas jowl, kielbasa cupim beef ribs t-bone pork biltong.</p>
	</section>
	<section class="wrapper sumo">
		<h2>Hur?</h2>
		<p>Porchetta chicken bresaola tenderloin pastrami sausage ham. Ball tip pork flank, short ribs tongue fatback beef ribs ham hock porchetta ham tail pancetta drumstick. Sausage prosciutto pancetta, meatball pork loin pastrami landjaeger hamburger pig. Pancetta tenderloin capicola tail. Jerky cupim strip steak prosciutto turkey, tongue hamburger chuck. Chicken shoulder drumstick, landjaeger tongue pig kevin ham hock cow meatloaf tenderloin jowl pork chop kielbasa. Ball tip leberkas jowl, kielbasa cupim beef ribs t-bone pork biltong.</p>
		<div>Slideshow</div>
	</section>	
{{{ partial "footer.html" }}}
{{{ partial "scripts.html" }}}
</body>
</html>