<!DOCTYPE html>
<html>
{{{ partial "head.html" }}}
<body {{#if index}}class="index"{{/if}}>
	<header class="sumo-header">
		<a href="http://www.vinnovera.se"></a>
		<img src="../images/sumo/600x638_square_blue2.svg">
	</header>
	<section class="wrapper sumo">
		<blockquote id="quotes"></blockquote>
	</section>
	<section class="wrapper sumo">
		<h1>Robot Sumo</h1>
		<p>Porchetta chicken bresaola tenderloin pastrami sausage ham. Ball tip pork flank, short ribs tongue fatback beef ribs ham hock porchetta ham tail pancetta drumstick. Sausage prosciutto pancetta, meatball pork loin pastrami landjaeger hamburger pig. Pancetta tenderloin capicola tail. Jerky cupim strip steak prosciutto turkey, tongue hamburger chuck. Chicken shoulder drumstick, landjaeger tongue pig kevin ham hock cow meatloaf tenderloin jowl pork chop kielbasa. Ball tip leberkas jowl, kielbasa cupim beef ribs t-bone pork biltong.</p>
		<div id="openoverlay">ÖPPNA</div>
		<div class="sumo-images">
			<img src="../images/sumo/nordicjs_crowd.jpg">
			<img src="../images/sumo/nordicjs_gustav.jpg">
			<img src="../images/sumo/sumo_stormtrooper.jpg">
			<img src="../images/sumo/nordicjs_pokal.jpg">
		</div>
	</section>
	<section class="wrapper sumo">
		<h1>Varför?</h1>
		<p>Sa vi att du får bygga en mördarrobot?</p>
		<p>Det här är ett fantastiskt roligt sätt att jobba med problemlösning och samarbetsförmåga. Det är dessutom återanvändbart - på workshopen lär ni er allt ni behöver för att kunna ha en egen årligt återkommande mini-sumo-clash. Skapa buzz och bjud in era egna kunder och leverantörer.</p>

		<iframe width="640" height="358" src="https://www.youtube.com/embed/6NfjVP9CtaA" frameborder="0" allowfullscreen></iframe>

		<p>Konceptet funkar bl a för:</p>
		<ul>
			<li>After Work</li>
			<li>Rekryteringsevent</li>
			<li>Kundevent</li>
			<li>Konferenser</li>
			<li>Teambuildingövningar</li>
		</ul>
	</section>
	<section class="wrapper sumo">
		<h1>Hur?</h1>
		<p>Porchetta chicken bresaola tenderloin pastrami sausage ham. Ball tip pork flank, short ribs tongue fatback beef ribs ham hock porchetta ham tail pancetta drumstick. Sausage prosciutto pancetta, meatball pork loin pastrami landjaeger hamburger pig. Pancetta tenderloin capicola tail. Jerky cupim strip steak prosciutto turkey, tongue hamburger chuck. Chicken shoulder drumstick, landjaeger tongue pig kevin ham hock cow meatloaf tenderloin jowl pork chop kielbasa. Ball tip leberkas jowl, kielbasa cupim beef ribs t-bone pork biltong.</p>
		<div id="imageslider_holder" class="imageslider_holder">
			<ul>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo1.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo2.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo3.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo4.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo5.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo6.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo7.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/nordicjs/nordicjs_sumo8.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/sumobot1.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/sumobot2.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/sumobot3.jpg">
				</li>
				<li>
					<img class="imageslider_image" src="../images/sumo/sumobot4.jpg">
				</li>
			</ul>
		</div>
	</section>
		
{{{ partial "footer.html" }}}
{{{ partial "scripts.html" }}}

<script type="text/javascript" src="../javascripts/components/iscroll.js"></script>
<script type="text/javascript" src="../javascripts/sumo/imageslider.js"></script>
<script type="text/javascript" src="../javascripts/sumo/main.js"></script>
</body>
</html>