<header id="header">
	<h1>
		{% if page %}
		<a href="/">Vinnovera</a>
		{% else %}
		Vinnovera
		{% endif %}
	</h1>
	
	{% if page %}
	<nav>
		<a href="/#projekt">Projekt</a>
		<a href="/#blogg">Blogg</a>
		<a href="/#kontakt">Kontakt</a>
		<a class="labs" href="http://labs.vinnovera.se">Labs</a>
	</nav>
	{% else %}
	<nav>
		<a href="#projekt">Projekt</a>
		<a href="#blogg">Blogg</a>
		<a href="#kontakt">Kontakt</a>
		<a class="labs" href="http://labs.vinnovera.se">Labs</a>
	</nav>
	{% endif %}
</header>

<a href="#" class="to-top">Till toppen</a>