.post-navigation
	width: 100%
	position: relative
	z-index: 105
	
	+bp(ol-dirty-bastard)
		display: none
	
	> a, > span
		display: inline-block
		font-size: 18px
		+box-sizing(border-box)
		letter-spacing: normal
		position: fixed
		top: 40%
		display: inline-block
		width: 150px
		color: white
		+transition(margin 0.2s)
		border: 0
		text-decoration: none
		
		&:hover
			margin: 0
		
	> .total
		color: #999
		border-top: 1px solid #999
		display: inline-block
		
	> .next
		background: #000 inline-image('next_arrow.png') left center no-repeat
		height: 50px
		right: 0
		margin-right: -116px
		line-height: 50px
		padding-left: 37px 
		
	> .prev
		background: #000 inline-image('prev_arrow.png') right center no-repeat
		height: 50px
		line-height: 50px
		margin-left: -116px
		left: 0
		padding-right: 37px 
		text-align: right
		
	> span.next, > span.prev
		opacity: 0.5