.post-navigation {
  width: 100%;
  position: relative;
  z-index: 105;
bp(ol-dirty-bastard)
}
.post-navigation > a,
.post-navigation > span {
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  letter-spacing: normal;
  position: fixed;
  top: 40%;
  display: inline-block;
  width: 150px;
  color: #fff;
  transition: margin 0.2s;
  border: 0;
  text-decoration: none;
}
.post-navigation > a:hover,
.post-navigation > span:hover {
  margin: 0;
}
.post-navigation > .total {
  color: #999;
  border-top: 1px solid #999;
  display: inline-block;
}
.post-navigation > .next {
  background: #000 url("../images/next_arrow.png") left center no-repeat;
  height: 50px;
  right: 0;
  margin-right: -116px;
  line-height: 50px;
  padding-left: 37px;
}
.post-navigation > .prev {
  background: #000 url("../images/prev_arrow.png") right center no-repeat;
  height: 50px;
  line-height: 50px;
  margin-left: -116px;
  left: 0;
  padding-right: 37px;
  text-align: right;
}
.post-navigation > span.next,
.post-navigation > span.prev {
  opacity: 0.5;
}
