---
layout: default
date: 2013-12-10 14:40
comments: true
sharing: true
footer: true
index: true
description: Vi är specialister på frontend-utveckling och ser gränssnitt för desktop, surfplattor och mobiltelefoner som vårt hantverk.
indextitle: "Specialister på frontend-utveckling med HTML5, CSS och JavaScript"
---

<section class="about">
	<div class="wrapper">
		<img src="/images/logoSymbol@2x.png" width="445" height="120">
		<p class="hisspitch">Vi på Vinnovera ser gränssnitt för desktop, surfplattor och mobiltelefoner som vårt hantverk. Vi vill jobba med kunder som tycker att kvalitet är viktigt, tänker långsiktigt och vill skapa webbupplevelser med det där lilla extra.</p>
		<p class="hisspitch">Vi är specialister på frontend-utveckling med <strong>HTML5</strong>, <strong>CSS</strong> och <strong>Javascript</strong>. Vill du veta mer <a href="/blogg/2013/11/18/om-vinnovera/">om oss</a>?</p>
		<p class="contact">
			<span class="adr">
				<span class="street-address">Västerlånggatan 27</span>
				<span class="postal-code">111 29</span>
				<span class="locality">Stockholm</span>
			</span>

			<span class="tel">08 - 5000 10 90</span>
			<a href="mailto:info@vinnovera.se" class="email">info@vinnovera.se</a>
		</p>
	</div>
</section>

<section class="what-we-do" id="projekt">
	<h1>Några projekt vi är stolta över</h1>

	{% render_partial projekt/featured.html %}
	
	<div class="wrapper">
		<div class="projects">
			{% render_partial projekt/startpage.html %}
		</div>
	</div>
</section>

<section class="blog" id="blogg">
	<div class="wrapper">
		<h1><a href="/blogg/">Våra tankar om webb</a></h1>
		
		<div class="articles">
			{% for post in site.posts limit: site.recent_posts %}
			<article>
				<div class="inner">
					<a href="{{ root_url }}{{ post.url }}">
						<h2>{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</h2>
						<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
						{{ post.content | excerpt | strip_html }}
						<p><span class="link">Läs mer</span></p>
					</a>
				</div>
			</article>
			{% endfor %}
		</div>
		
		<div class="more"><a href="/blogg/" class="link">Till bloggen</a></div>
	</div>
</section>

<section class="people" id="jobb">
	<h1>Det är vi som är Vinnovera</h1>
	
	<div class="wrapper">
		<div class="humans">
			<article>
				<img src="/images/profiles/b-o.jpg">
				<strong>Björn-Olle Rylander</strong>
				<span>VD</span>
				<span>070-171 67 27</span>
				<a href="mailto:bjorn-olle@vinnovera.se">bjorn-olle@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/johnny.jpg">
				<strong>Johnny Mellgren</strong>
				<span>Affärsutvecklare</span>
				<span>070-957 58 88</span>
				<a href="mailto:johnny@vinnovera.se">johnny@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/andreas.jpg">
				<strong>Andreas Edlund</strong>
				<span>Projektledare</span>
				<span>070-749 47 14</span>
				<a href="mailto:andreas@vinnovera.se">andreas@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/jakob.jpg">
				<strong>Jakob Öhman</strong>
				<span>Teknisk projektledare</span>
				<span>073-647 18 53</span>
				<a href="mailto:jakob@vinnovera.se">jakob@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/sandra.jpg">
				<strong>Alexandra Munter</strong>
				<span>Frontend</span>
				<span>070-491 84 29</span>
				<a href="mailto:alexandra@vinnovera.se">alexandra@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/jonas.jpg">
				<strong>Jonas Stattin</strong>
				<span>Frontend</span>
				<span>070-952 97 71</span>
				<a href="mailto:jonas@vinnovera.se">jonas@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/per.jpg">
				<strong>Per Stenström</strong>
				<span>Frontend</span>
				<span>072-250 23 20</span>
				<a href="mailto:per@vinnovera.se">per@vinnovera.se</a>
			</article>
			<article>
				<img src="/images/profiles/gustav.jpg">
				<strong>Gustav Frykholm</strong>
				<span>Frontend</span>
				<span>070-743 51 31</span>
				<a href="mailto:gustav@vinnovera.se">gustav@vinnovera.se</a>
			</article>
		</div>
	</div>
</section>

<section class="contact" id="kontakt">
	<h1>Kontakt</h1>
	<div>
		<a href="https://www.google.com/maps/place/Vinnovera+AB/@59.3252213,18.0692205,17z/data=!3m1!4b1!4m2!3m1!1s0x465f77e26eb236e1:0x314b77ee3a5d5ea1"></a>
		<div class="wrapper">
			<article>
				<section>
					<div class="label">Adress</div>
					<div class="value">
						<span class="street-address">Västerlånggatan 27</span>
						<span class="postal-code">111 29</span>
						<span class="locality">Stockholm</span>
					</div>
				</section>
				<section>
					<div class="label">Telefon</div>
					<div class="value">
						<span>08 - 5000 10 90</span>
					</div>
				</section>
				<section>
					<div class="label">E-post</div>
					<div class="value">
						<span><a href="mailto:info@vinnovera.se">info@vinnovera.se</a></span>
					</div>
				</section>
			</article>
		</div>
	</div>
</section>
